{% extends 'base.html'%}
{% load staticfiles %}
{% load bootstrap4 %}
{% block title %}Change Profile{% endblock title %}
{% block content %}
<div class="container">

<div class="row">
    <div class="col-md-8">
        <h4>Billing Profile</h4>
        <p>Please update your billing profile</p>
        <form action="{% url 'profiles:adjust-profile' user.id %}" method="post">
            {% csrf_token %}
             {% bootstrap_form form %}
            <input type="submit" class="btn custom-success-btn"    value="Fill In Profile">
        </form>
    </div>
</div>
<hr>
<div class="row mt-3">
    <div class="col col-md-5"><i class='fas fa-chevron-circle-left' style='font-size:36px'></i>
        <a href="{% url 'profiles:account-info' %}">Go back to account</a>
    </div>
</div>

</div> <!--end div container-->
{% endblock %}
