{% extends 'base.html'%}
{% load staticfiles %}
{% block title %}history orders{% endblock %}
{% block content %}
<div class="container-fluid my-3">
    {% if object_list %}
    <h3 class="text-center">History Of Paid Orders</h3>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="row">User</th>
      <th scope="col"># Id</th>
      <th scope="col"># Generic Id</th>
      <th scope="col">Status</th>
      <th scope="col">Created</th>
      <th scope="col">View Detail</th>
      <th scope="col">Order Total</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <tbody>
      {% for order in object_list %}
      <tr class="tab_row" >
      <td scope="row">user-id: {{order.cart.user_id}}</td>
      <td scope="row">{{order.id}}</td>
      <td scope="row">{{order.order_unid}}</td>
      <td scope="row">{{order.status}}</td>
      <td scope="row">{{order.date}}</td>
      <td scope="row"><a href="{% url 'orders:order-detail' order.order_unid %}">Details</a></td>
      <td scope="row">$  {{order.total}}</td>
      <td scope="row">
        {{order.payment}}
      </td>
      <td scope="row">
          link
      </td>
    </tr>
    {% endfor %}
    </<tbody>
    </table>
    {% endif %}
        <hr>
    {% if accepted_not_paid_yet_orders %}
    <table class="table table-striped">
        <h3 class="text-center">Accepted Orders But Not Paid Yet <sup><i class='fas fa-info-circle' style='font-size:24px;color:red'></i></sup>
        <caption> <i class='fas fa-info-circle' style='color:red;'></i>This payment method is in development stage
        </caption>
   <thead>
    <tr>
      <th scope="row">User</th>
      <th scope="col"># Id</th>
      <th scope="col"># Generic Id</th>
      <th scope="col">Status</th>
      <th scope="col">Created</th>
      <th scope="col">Details</th>
      <th scope="col">Order Total</th>
      <th scope="col">Payment</th>
      <th scope="col">Explanation</th>
    </tr>
  </thead>
  <tbody>
      {% for order in accepted_not_paid_yet_orders %}
      <tr >
      <td scope="row">user-id: {{order.cart.user_id}}</td>
      <td scope="row">{{order.id}}</td>
      <td scope="row">{{order.order_unid}}</td>
      <td scope="row">{{order.status}}</td>
      <td scope="row">{{order.date}}</td>
      <td scope="row"><a href="{% url 'orders:order-detail' order.order_unid %}">View</a></td>
      <td scope="row">$  {{order.total}}</td>
      <td>
          {{order.payment}}
      </td>
      <td>
          in development
      </td>
    </tr>
    {% endfor %}
    {% endif %}

  </tbody>
</table>
<hr>
</div>
{% endblock %}
